<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge Graph Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= bookId %></h1>
    <h1><%= numEntities %></h1>
    <h1><%= numRelationships %></h1>
  </body>
</html>
