<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge Graph Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Knowledge Graph Generator </h1>
    <p>Welcome to Knowledge Graph Generator</p>
  </body>
</html>
